.row{
  &.blog{
    padding: 40px 50px;
    padding-bottom: 0px;
    background-color: $white2;
    padding-bottom: 40px;
    .blocks-container{
      background-color: $white;
      padding: 31px 25px;
      .block{
        &.text{
          p{
            font-family: $font_2;
            letter-spacing: 0.5px;
            &.title{
              font-weight: bold;
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}

.row{
  &.blogs.single{
    background-color: $white2;
    .blocks-container{
      padding-bottom: 0px;
    }
  }
}
